a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(67, 71, 114);
}

nav {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(65, 62, 106);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: red;
}

nav i {
  color: goldenrod;
  padding: 8px;
}

nav a {
  color: rgb(255, 255, 255);
}

.logo {
  background-color: rgb(65, 62, 106);
  padding-top: 5px;
}
.Titre{
  padding-top: 90px;
  text-align: center;
}

.mon-img{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 95px;
  padding-left: 270px;
}

.mon-img2{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.mon-img3{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 95px;
  padding-left: 270px;
}

.mon-img4{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.first-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 120px;
}

.hi {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 42%;
}

.hi p {
  font-size: large;
  width: 70%;
}

.second-section {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  padding-right: 25px;
}

.hi2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 43%;
}

.hi2 p {
  font-size: large;
  width: 70%;
}

.third-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 120px;
}

.hi3{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 42%;
}

.hi3 p{
  font-size: large;
  width: 70%;
}

.fourth-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-right: 25px;
}